<mat-card class="home mat-elevation-z3">
    <mat-card-title>
        Novo Fornecedor
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Fantasia" 
            [(ngModel)]="fornecedor.name"
            name="name"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" 
            [(ngModel)]="fornecedor.email"
            name="email"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ/CPF - " 
            [(ngModel)]="fornecedor.cnpj"
            name="cnpj"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP - 000.00-000" 
            [(ngModel)]="fornecedor.cep"
            name="cep"
            >
        </mat-form-field> 
    </form>
    <button mat-raised-button (click)="createFornecedor()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



